/* variables */
:root {
  --primary-toggle: #1c1d25;
  --secondary-toggle: #b0b2c3;
  --svg-toggle: invert(87%) sepia(9%) saturate(379%) hue-rotate(196deg)
    brightness(82%) contrast(89%);
  --hover-toggle: #ffffff;
  --txt-toggle: #ffffff;
  --txt-color: #ffffff;
  --dark-color: #2e5c49;
  --med-color: #54a885;
  --lt-color: #6edbae;
  --bg-color: #f3f3f3;
  --footer-color: #1c1d25;
}

/* fonts */
@font-face {
  font-family: "League Spartan Bold";
  src: url(fonts/LeagueSpartan-Bold.ttf);
}

@font-face {
  font-family: "League Spartan Regular";
  src: url(fonts/LeagueSpartan-Regular.ttf);
}

@font-face {
  font-family: "League Spartan Semi-Bold";
  src: url(fonts/LeagueSpartan-SemiBold.ttf);
}

@font-face {
  font-family: "Libre Baskerville Bold";
  src: url(fonts/LibreBaskerville-Bold.ttf);
}

@font-face {
  font-family: "Libre Baskerville Regular";
  src: url(fonts/LibreBaskerville-Regular.ttf);
}

/* global styles */
html {
  box-sizing: border-box;
  font-family: "Libre Baskerville Regular", serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  margin: 0 auto;
  text-align: center;
}

a {
  color: var(--txt-color);
  font-family: "League Spartan Semi-Bold", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

button {
  background: linear-gradient(95deg, var(--dark-color), var(--lt-color));
  border: 0;
  border-radius: 5px;
  padding: 12px 20px;
}

h1,
h2,
h3 {
  font-family: "League Spartan Bold", sans-serif;
}

img {
  filter: var(--svg-toggle);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* layout */
#header {
  background-color: var(--primary-toggle);
  display: flex;
  justify-content: space-between;
  padding: 5%;
  position: absolute;
  width: 100%;
}

#home {
  background-color: var(--primary-toggle);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.intro {
  margin: auto;
}

#about {
  background-color: var(--primary-toggle);
  padding: 5%;
}

.about__body {
  text-align: left;
}

.tech {
  display: flex;
  flex-flow: row wrap;
  gap: 7.5px;
}

/* nav */
.nav-toggle__menu {
  display: block;
  width: 42px;
  height: 42px;
}

.nav-toggle__bar {
  background-color: var(--secondary-toggle);
  border-radius: 5px;
  display: block;
  height: 3px;
  margin-bottom: 6px;
  width: 100%;
}

.nav-toggle__bar--mid {
  margin-left: 15%;
  width: 85%;
}

.nav-toggle__bar--btm {
  margin-left: 40%;
  width: 60%;
}

/* toggles */
.--hidden {
  display: none;
}
