/* CSS DIRECTORY
        1. =GLOBAL SETTINGS (variables, resets)
        2. =PRIMARY LAYOUT (body, projects)
        3. =SECONDARY LAYOUT (header, footer, sidebar)
        4. =TERTIARY LAYOUT (home, about)
        5. =TEXT RELATED (headings, paragraphs, lists)
        6. =GENERAL STYLES (buttons, forms)
        7. =GENERAL CLASSES (.--hidden, .--even)
        8. =SALIENT FEATURES (images, links, other important features)
        9. =MEDIA QUERIES (400px, 700px, 900px) 
*/

/* ===============
   GLOBAL SETTINGS
   =============== */

:root {
  --primary-toggle: #1c1d25;
  --secondary-toggle: #b0b2c3;
  --svg-toggle: invert(87%) sepia(9%) saturate(379%) hue-rotate(196deg)
    brightness(82%) contrast(89%);
  --hover-toggle: #ffffff;
  --txt-toggle: #ffffff;
  --svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(70deg)
    brightness(102%) contrast(102%);
  --txt-color: #ffffff;
  --dark-color: #2e5c49;
  --med-color: #54a885;
  --lt-color: #6edbae;
  --bg-color: #f3f3f3;
  --footer-color: #1c1d25;
}

*:where(:not(img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
button {
  cursor: revert;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* ===============
   PRIMARY LAYOUT
   =============== */

body {
  background-color: var(--bg-color);
  margin: 0 auto;
  text-align: center;
}

#projects {
  padding: 80px 0;
  position: relative;
}

.projects__mask,
.projects__mask::after {
  height: 100%;
  position: absolute;
  top: 0;
}

.projects__mask {
  left: 0;
  width: 100%;
  z-index: -1;
}

.projects__mask::after {
  background: linear-gradient(
    to right,
    #1c1d1f0f 0,
    #1c1d1f0f 1px,
    transparent 2px,
    transparent calc(100% - 2px),
    #1c1d1f0f calc(100% - 1px),
    #1c1d1f0f 100%
  );
  content: "";
  left: 50%;
  max-width: 920px;
  transform: translate3d(-50%, 0, 0);
  width: 65%;
}

.cards {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 135px;
}

.card {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  height: 290px;
  justify-content: center;
  padding: 5%;
  position: relative;
  text-align: left;
  width: 95%;
}

/* ===============
   SECONDARY LAYOUT
   =============== */

#header {
  background-color: var(--primary-toggle);
  display: flex;
  justify-content: space-between;
  padding: 5%;
  position: absolute;
  width: 100%;
}

.nav-toggle__menu {
  display: block;
  width: 42px;
  height: 42px;
}

.nav-toggle__bar {
  background-color: var(--secondary-toggle);
  border-radius: 5px;
  display: block;
  height: 3px;
  margin-bottom: 6px;
  width: 100%;
}

.nav-toggle__bar--mid {
  margin-left: 15%;
  width: 85%;
}

.nav-toggle__bar--btm {
  margin-left: 40%;
  width: 60%;
}

#footer {
  background-color: var(--footer-color);
  padding: 8% 0;
}

/* ===============
   TERTIARY LAYOUT
   =============== */

#home {
  background-color: var(--primary-toggle);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.intro {
  margin: auto;
}

#about {
  background-color: var(--primary-toggle);
  padding: 80px 5%;
}

/* ===============
   TEXT RELATED
   =============== */

@font-face {
  font-family: "League Spartan Bold";
  src: url(fonts/LeagueSpartan-Bold.ttf);
}

@font-face {
  font-family: "League Spartan Regular";
  src: url(fonts/LeagueSpartan-Regular.ttf);
}

@font-face {
  font-family: "Libre Baskerville Bold";
  src: url(fonts/LibreBaskerville-Bold.ttf);
}

@font-face {
  font-family: "Libre Baskerville Regular";
  src: url(fonts/LibreBaskerville-Regular.ttf);
}

a {
  color: var(--txt-color);
  font-family: "League Spartan Bold", sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "League Spartan Bold", sans-serif;
}

p {
  font-family: "Libre Baskerville Regular", serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__title,
.intro__subtitle,
.about__title,
.desc__body,
.desc__tech,
.skills {
  color: var(--txt-toggle);
}

.intro__title {
  font-size: 2rem;
  margin: 0 0 0.2em;
}

.intro__subtitle {
  font-size: 1rem;
  margin: 0 0 25px;
}

.about__title,
.projects__title {
  font-size: 1.375rem;
  margin: 25px 0px 70px;
}

.about__subtitle,
.projects__subtitle {
  color: var(--dark-color);
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}

.desc__body,
.desc__tech,
.info__desc {
  font-size: 0.75rem;
}

.desc__body {
  margin: 0;
  text-align: left;
}

.desc__tech {
  margin: 10px 0;
  text-align: left;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.5rem;
  gap: 7.5px;
}

.projects__title {
  color: var(--footer-color);
}

.card__number,
.card__title,
.info,
.techs {
  color: var(--txt-color);
}

.card__number {
  align-self: flex-start;
  font-size: 1.375rem;
}

.card__title {
  font-size: 1.375rem;
  margin: 0;
}

.techs {
  display: flex;
  font-size: 0.5rem;
  gap: 7.5px;
  margin-bottom: 20px;
}

.media {
  display: flex;
  font-size: 1rem;
  gap: 60px;
  justify-content: center;
  margin: 30px 0;
}

.footer__copyright {
  color: var(--txt-color);
  font-size: 0.75rem;
  margin: 0;
}

/* ===============
   GENERAL STYLES
   =============== */

button {
  background: linear-gradient(95deg, var(--dark-color), var(--lt-color));
  border: 0;
  border-radius: 5px;
  padding: 12px 20px;
}

.color-mode,
.home__btn,
.footer__btn {
  background: none;
  padding: 0;
}

/* ===============
   GENERAL CLASSES
   =============== */

.--even {
  align-items: flex-end;
  text-align: right;
}

.--hidden {
  display: none;
}

/* ===============
   SALIENT FEATURES
   =============== */

img {
  filter: var(--svg-toggle);
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* ===============
   MEDIA QUERIES
   =============== */
